{% extends '::errorcofra.html.twig' %}

{% block cuerpo %}
    <div id="cuerpo">
            <p><img src="{{ asset("images/error403.jpg") }}" width="500" height="300"></p>
            error 403
    </div>
{% endblock %}