{% extends '::errorcofra.html.twig' %}

{% block cuerpo %}
    <div id="cuerpo">
            <p><img src="{{ asset("images/error404.jpg")}}" width="343" height="300"></p>
            error 404
    </div>
{% endblock %}