{# variables 'comprobantes' => $comprobantes, 'total' => $total, 'idrendicion' => $idrendicion, 'totalTipo2' => $totaltipo2,'totalTipo3' => $totaltipo3,'totalTipo4' => $totaltipo4,'rendicion' => $rendicion, 'edit_form' => $editForm->createView(), #}
{# % embed "MagypRendicionDeCajaBundle:Af:rendiciones.html.twig" %}

{% embed "MagypRendicionDeCajaBundle:Pantalla:listaajax.html.twig" %}

{% extends "MagypRendicionDeCajaBundle:Pantalla:concabecera.html.twig" %}
#}
{% extends "::afcofra.html.twig" %}

{% set paginaActual = 'Gestion' %}
{% block cabecera %}
    {{ parent() }}

    <div class="acciones">
        <span style="margin-right: 25px; vertical-align: middle;">Acciones de Reintegro de : </span>
        
		<li onclick="parent.location='{{ path('af_rendiciones_home') }}'" class="volver">Volver</li>
                          
                             
    </div>	

{% endblock %}
{% block cuerpo %}

    {% embed "MagypRendicionDeCajaBundle:Plantilla:lista2columnas.html.twig" %}

    {% block titulocentral "Rendiciones Aceptadas" %}
    {% block titulo_columna1 "Lista de Areas" %}
    {% block titulo_columna2 "Rendiciones" %}

	    {% block accionTR %}
	    function accionTR(tr){
		    areaid = $.trim( $(tr).children('.id').html());
		  //  console.log(tr);
		    selecionar(tr);
		    pintar(tr);
		    ajax('/sistema/ajax/aceptadas/area/'+areaid);	
	    }
	    {% endblock %}
    {% block botones %}	   
		{#
	<div class="botones-2columnas" >
	    <a href="{{path('af_rendiciones_home')}}" style="text-decoration: none; color: #fff"><button class="btn btn-submit">Volver</button></a>
	</div>
#}
    {% endblock %}
{% endembed %}
	
{% endblock %}	