{% extends "::tecofra.html.twig" %}

{% set paginaActual = 'Gestion' %}
{% block cabecera %}
    {{ parent() }}

    <div class="acciones">
        <span style="margin-right: 25px; vertical-align: middle;">Acciones: </span>
        
		<li onclick="parent.location='{{ path('te_home') }}'" class="volver">Volver</li>
                          
                             
    </div>	

{% endblock %}
{% block cuerpo %}
	<div class="contieneRendicionTesoreria">
    {% embed "MagypRendicionDeCajaBundle:Plantilla:lista2columnastesoreria.html.twig" %}

    
    {% block titulocentral "Rendiciones A Pagado" %}
    {% block titulo_columna1 "Lista por Area" %}    
    {% block titulo_columna2 "Listado de Rendicion" %}

	    {% block accionTR %}
	    function accionTR(tr){
		    areaid = $.trim( $(tr).children('.id').html());
		 //   console.log(tr);
		    selecionar(tr);
		    pintar(tr);
		    ajax('/sistema/ajax/apagado/area/'+areaid);	
		    
	    }
	    {% endblock %}
    {% block botones %}	 
		{#
	<div class="botones-2columnas" >
	    <a href="{{path('af_rendiciones_home')}}" style="text-decoration: none; color: #fff"><button class="btn btn-submit">Volver</button></a>
	</div>
#}
    {% endblock %}
    {% endembed %}
	</div>
{% endblock %}	