{% extends '::generalrudo.html.twig' %}

{% block cuerpo %}

    <div id="carga">
        {% block carga %}
        {% endblock %}   
    </div>
    <div id="detalle">
        {% block detalle %}
        {% endblock %}
    </div>

{% endblock %}