{% extends '::generalrudo.html.twig' %}

{% block cuerpo %}
    <div id="filtro">
        {% block filtro %}
        {% endblock %}
    </div>
    <div id="listado">
        {% block listado %}
        {% endblock %}
    </div>
{% endblock %}

