{% extends 'MagypRendicionDeCajaBundle:Login:mensaje.html.twig' %}

{% block titulo  %}Atención Usuario{% endblock %}

{% block mensaje  %}


<p>Su cuenta ha sido bloqueada debido a varios intentos fallidos de logueo.</p>
<p>Para restablecer su cuenta debe llamar a la Mesa de Ayuda de Informática al interno 42600..</p>


{% endblock %}

{# la direccion del boton coninuar esta en continuar_link que se pasa a la plantilla padre#}