{# empty Twig template #}

        <table class='tabla'>
            {% for fila in lista %}
            <tr>
                <td>{{fila.c1}}</td>
                <td>{{fila.c2}}</td>
                <td>{{fila.c3}}</td>
                
            </tr>
            {% endfor %}
        </table>

