
th {
    background-color: #5FB2AE;

	}

.seleccionada { 
	background-color: #cccccc;
	}
.seleccionada  .seleccionada tr {
	border-bottom: 1px solid #dddddd; 
}
#subHeader {
	/*background-color: #F93;*/
	/*background-color:#FCCD59;*/
	height: 45px;
	width:100%;
	margin-right: auto;
	margin-left: auto;
	text-decoration:none;
    background-image: url(../images/home_menu_general_1.jpg);     
}

.error {
	background-image: url(../images/iconos/error.png);
	background-repeat: no-repeat;
	color: #777;
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  /*background-color: #e6e6e6;
  background-color: #d9d9d9;*/
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #000 !important;
  background-color: #5fb2ae;
  *background-color: #5fb2ae;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/*-------------------------------------------------------------*/
.boton {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  display:inline-block !important;
}

.boton:hover, .boton:focus, .boton:active, .boton.active, .boton.disabled, .boton[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.boton:active, .boton.active {
  background-color: #c67605 \9;
}

/*--------------------ACCIONES DE SUB-BOTONERA------------------*/
.acciones {
    background-color: #dddddd;
    min-width:600px;
    width:auto;
    padding:2px;
    margin-left:auto;
    margin-right: auto;
    color:#555656;
    margin-top:-3px;
    padding-top: 5px;
    font-family: "Segoe UI Light", "Segoe UI", "Verdana";
    height:auto;
}
.acciones li {
    display:inline-block;
    list-style-type: none;
    width:auto;
    margin-right:10px;
    cursor:pointer;
    padding-left: 24px;
    padding-right: 4px;
    height:25px;
   /* border-right:thin solid #666;*/

}
.acciones li:hover {
    display:inline-block;
    list-style-type: none;
    width:auto;
    margin-right:10px;
    cursor:pointer;
    color:#000000;
   
}
.acciones .agregar {
    background-image: url(../images/iconos/subotonera-agregar.png);
    background-repeat: no-repeat;
}
.acciones .editar {
    background-image: url(../images/iconos/subotonera-editar.png);
    background-repeat: no-repeat;
}
.acciones .borrar {
    background-image: url(../images/iconos/subotonera-borrar.png);
    background-repeat: no-repeat;
}
.acciones .papelera {
    background-image: url(../images/iconos/subotonera-papelera.png);
    background-repeat: no-repeat;
}
.acciones .volver {
    background-image: url(../images/iconos/subotonera-volver.png);
    background-repeat: no-repeat;
    border:none;
}
.acciones .imprimir {
    background-image: url(../images/iconos/subotonera-imprimir.png);
    background-repeat: no-repeat;
    border:none;
}
.acciones .notadecomida {
    background-image: url(../images/iconos/print_notadecomida.png);
    background-repeat: no-repeat;
    border:none;
}
.acciones .rendicioncaja {
    background-image: url(../images/iconos/print_rendicioncaja.png);
    background-repeat: no-repeat;
    border:none;
}

.acciones .atras {
    background-image: url(../images/iconos/subotonera-atras.png);
    background-repeat: no-repeat;
}

.acciones .eventos {
    background-image: url(../images/iconos/subotonera-eventos.png);
    background-repeat: no-repeat;
    border:none;
}
.acciones .enviar1 {
    background-image: url(../images/iconos/subotonera-enviar.png);
    background-repeat: no-repeat;
 
}
.Error ul, .Error li {
	list-style-type: disc;
	color:#fff;
	/*font-weight: bold;*/
	margin-left:60px;
}
#colArea {
	font-size: 12px !important;
	width: 900px;
	min-width: 800px;
	max-width: 100%;
	
	height: auto;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #ff6633;
	overflow: auto;
	
}
#colArea table th{

	padding:3px; 
	margin-bottom:10px;
	background-color:#5FB2AE;
}
#colArea table td{
	padding:2px;
	/*margin:10px;*/
}
/*******************traido de base2*******************/
.seleccionada { 
	/*background-color: rgb(255, 204, 102);*/
	background-color: #ED9E5D;
	}
.seleccionada  .seleccionada tr {
	border-bottom: 1px solid #cef; 
}


/*tbl de base2*/

#colArea {
	font-size: 12px !important;
	width: 900px;
	min-width: 800px;
	max-width: 100%;
    height: auto;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #ff6633;
	overflow: auto;
	
}
#colArea table th{

	padding:3px; 
	margin-bottom:10px;
	background-color:#ff6633;
}
#colArea table td {
	padding:2px;
	/*margin:10px;*/
}
/*--------------------Botones de Formulario-----------------------------------------*/

.formulario {
	//border: thin solid #FF6600;
}
.error {
	background-image: url(../images/iconos/error.png);
	background-repeat:none;
	color: #777;
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #000 !important;
  background-color: #5fb2ae;
  *background-color: #5fb2ae;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
 /* background-position: 0 -15px;*/

}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/*-------------------------------------------------------------*/
.boton {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.boton:hover, .boton:focus, .boton:active, .boton.active, .boton.disabled, .boton[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.boton:active, .boton.active {
  /*background-color: #c67605 \9;*/
}
.btn-default {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008689;
  *background-color: #008689;
  background-image: -moz-linear-gradient(top, #008689, #008689);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008689), to(#008689));
  background-image: -webkit-linear-gradient(top, #008689, #008689);
  background-image: -o-linear-gradient(top, #008689, #008689);
  background-image: linear-gradient(to bottom, #008689, #008689);
  background-repeat: repeat-x;
  border-color: #008689 #008689 #008689;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008689', endColorstr='#008689', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/*
.btn-default:hover {
	color: #ffffff;
	background-color: #339999;
	*background-color: #339999;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.0s linear;
	-moz-transition: background-position 0.0s linear;
	-o-transition: background-position 0.0s linear;
	transition: background-position 0.0s linear;
}
*/
/*************paginador traido de css***/
#colArea {
	font-size: 12px !important;
	width: 900px;
	min-width: 800px;
	max-width: 100%;
	
	height: auto;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border: thin solid #ff6633;
	overflow: auto;
	
}
#colArea table th{

	padding:3px; 
	margin-bottom:10px;
	background-color:#FC6;
}
#colArea table td{
	padding:2px;
	/*margin:10px;*/
}
/*----------------------Tabla de PopUps------------------*/
/*-------------------------------------------------------*/
.tablaPopup select {
	min-width: 30px;
	max-width:50px;
} 
/******************************** estilos jquery paginador*************************/
.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;   
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }
            
            	
      /************CSS PAGINADORRRRRRRRRRR**************/
.pagination {
    height: 36px;
    margin: auto ;
   /* width: 50%;
    min-width: 20%;
    max-width: 50%;
    */
}
.pagination span a {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination li {
    display: inline;
}
.pagination span a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}
.pagination .current  {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
    background-color:#ff6633;
}
.pagination span a:hover, .pagination .active a {
    background-color: #cccccc;
}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.pagination .first a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;

    
}
.pagination .last a {
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}

.titulo_tbl{
    
    background-color:#fc6;
    width:100%;
}
#registroForm select {
	min-width:50px;
}
/*-----------------------Proveedores--------------------------*/
/*-------------------------------------------------------------*/
