/* 
    Document   : notificacion
    Created on : 04/11/2013, 12:08:25
    Author     : ywaldman
    Description:
        Purpose of the stylesheet follows.
*/
/*
#notificaciones tr:hover{
        background-color: #ffcc66;
        color: #ffffff;
}

.subBoton_not {
	background-image: url(../images/iconos/btm_noti-over.png);
	/*color: #F90;*/
     /*   color:#FAD98D;
}

.subBoton2 {
	background-image: url(../images/iconos/prueba-2.png);
	/*color: #F90;*/
      /*  color:#FFFFFF;
}*/
      

