@charset "utf-8";

h2 {
	font-family: "Segoe UI Light", "Segoe UI", "Segoe UI Semibold";
	color: #fff;
	font-weight: lighter;
}
h1 {
	font-family: "Segoe UI Light", "Segoe UI", "Segoe UI Semibold";
	font-weight: lighter;
}
h2 .tablaTitulo {
	text-align:left;
	color:#000;	
	/*display:inline-block;*/
	/*margin-left:15px;*/
}
.tablaTitulo th {
	background-color:#5FB2AE;
}
tr {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
table {
overflow: auto;
}
td, th {
	min-width:70px;
}
.modificarComprobante {
   /* width:450px;*/
    min-width:400px;
    max-width:400px;
    border: thin solid #ff6633; 
    padding: 5px; 
    margin:auto; 
    height:400px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 0px;
}
.colIzComprobante {
    width: 150px;
    height: 410px;
    display: inline-block;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: top;
    /*background-color:#035D81;*/
    background-color:#5fb2ae;
    
}
#tablaPopup td {
	padding:2px;
	margin:0px;
	}
#tablaPopup tr {
	padding:2px;
	margin:0px;
}
#tablaPopup select {
	/*width:150px !important;*/
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  /*
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
  */
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/*-------------------------------------------------------------*/
.boton {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-default {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008689;
  *background-color: #008689;
  background-image: -moz-linear-gradient(top, #008689, #008689);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008689), to(#008689));
  background-image: -webkit-linear-gradient(top, #008689, #008689);
  background-image: -o-linear-gradient(top, #008689, #008689);
  background-image: linear-gradient(to bottom, #008689, #008689);
  background-repeat: repeat-x;
  border-color: #008689 #008689 #008689;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008689', endColorstr='#008689', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #000 !important;
  background-color: #008689;
  *background-color: #5fb2ae;
}
.boton:hover, .boton:focus, .boton:active, .boton.active, .boton.disabled, .boton[disabled] {
  color: #ffffff;
  background-color: #008689;
  *background-color: #008689;
}

.boton:active, .boton.active {
  background-color: #c67605 \9;
}

/*----------------------------------------------------------------------------------------------*/
#magyp_rendiciondecajabundle_comprobantetype_fecha select {
	margin-right: 5px;
	margin-left: 5px;
	/*margin-left:5px;*/
}
#magyp_rendiciondecajabundle_comprobantetype_fecha #magyp_rendiciondecajabundle_comprobantetype_fecha_day {
	margin-left:0px !important;
}