.texto_ministerio{ 
        font-size:21px;
        margin-top:8px;
        margin-left:15px;
        display:block;
        text-align: center;
}          
.texto_area{ 
        font-size:21px;
        margin:0px;
        display:block;
        text-align: center;
}
.area{
        width:120mm;
        padding-top:22mm;     
}
html, body {
	height: 297mm;
	width: 297mm;
	margin-right: auto;
	margin-left: auto;
	margin-top:0;
}
@font-face {
	font-family: SHELLEY;
	src: url('/images/Shelley_Allegro_BT.ttf');
}
#cabecera .membretes {
	height: 30mm;
	width: 100%;
	float: none;
        font-family: 'SHELLEY';
}
.membretes {
	height: 30mm;
	width: 100%;
	float: none;
	background-image:url('/images/membrete.png');
        font-family: SHELLEY;
        background-repeat: no-repeat;
	background-position: 180px 10px;
        font-family: 'SHELLEY'; 
}
#contenedor {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	border: thin none #000;
}
.leyenda {
        float:right;
        margin-top:0px;
        margin-left: 20px;
        margin:0px; 
        display:block; 
        font-weight: bold; 
        text-align: center;
        font-size:16px;
        font-family: Times New Roman;
        font-style: italic;
}
h2 {
	margin-top:30px;
	margin-bottom:10px;
	font-family: "Segoe UI Semibold", Verdana;
	color: #000 !important;
	font-size: 24px;
}
h1 {
	font-family: "Segoe UI Light", "Segoe UI", "Segoe UI Semibold";
	font-weight: lighter;
}
h2 .tablaTitulo {
	text-align:left;
	color:#000;	
}
tr {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
table {
overflow: auto;
}
td, th {
	min-width:70px;
}
label {
	font-family: "Segoe UI Semibold", Verdana;	
}
/*---------------------------------TABLA ESTILO 1-------------------------------------*/
.principal table {
	margin-top:30px;
	min-width: 400px;
	max-width: 90%;
	min-height:20%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Segoe UI Light", "Segoe UI", "Segoe UI Semibold";
    font-size: 12pt;

}
.principal th {
        text-align:center;	
}
.principal td {
	text-align: center;
	min-width:50px;
}
.secundaria table {
	margin-top:30px;
	min-width: 400px;
	max-width: 90%;
	min-height:20%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Segoe UI Light", "Segoe UI", "Segoe UI Semibold";
    font-size: 12pt;
	
}
td .botonFormulario {
        text-align:center !important;
        margin-left:auto;
        margin-right:auto;	
}
#algo {
	width: 200px;
	height: 300px;
	background-color: #CCC;
	display: inline-block;
	white-space: nowrap;
}
#colDe {
	padding:5px;
	width:40%;
	max-width:50%;
	min-width:30%;
	height:70%;
	min-height: 400px;
	max-height:70%;
	display: inline-block;
	background-repeat: no-repeat;	
	margin-left: 20px;
	margin-right: 0px;
	border: thin solid #FC6;
	overflow-y:auto;
}
#colIz {
	min-height: 400px;
	max-height:70%;
	padding:5px;
	height:400px;
	min-width: 300px;
	max-width:50%;
	display: inline-block;
	background-repeat: no-repeat;
	border: thin solid #FC6;
	overflow-y: auto;
}
#colIzTabla {
	min-height: 300px;
	max-height:350px;
	overflow-y: scroll;
	display: inline-block;
}
#colDeTabla {
	width:100%;

	height:350px;
	overflow-y: scroll;
	display: inline-block;
}
#colCen {
	min-height: 400px;
	min-width: 300px;
	max-width:40%;
	max-height:200%;
	display: inline-block;
	background-repeat: no-repeat;
	margin-left: 0;
	margin-right: 0;
	border: thin solid #FC6;
	margin-top: 0;	
}
#fondoIz {
	background-image: url(../images/fondo-columna1.png);
	min-height: 500px;
	min-width: 350px;
	max-width:40%;
	max-height:100%;
	margin-right: 20px;
	margin-left:auto;
	float: left;
	display: inline-block;
	background-repeat: no-repeat;	
	margin-top: auto;
	margin-bottom:auto;
	background-position: center top;
}
#fondoDe {
	background-image: url(../images/fondo-columna2.png);
	min-height: 500px;
	min-width: 350px;
	max-width:40%;
	max-height:200%;
	float: left;
	display: inline-block;
	background-repeat: no-repeat;
	margin-top:auto;
	margin-bottom:auto;
	background-position: center top;
}
.crear {
	background-repeat: no-repeat;
	height: 50px;
	width:100px;
	background-color: #09F;
}
.cancelar {
	height: 50px;
	width:100px;
	background-color: #F63;
	background-repeat: no-repeat;
}
.form-boton {
	margin:10px;	
	display:inline-block;
}
.odd {
	background-color: #DDDDDD;
}
.odd td {
	
	}
#tablaDescripcion, #tablaDescripcion .odd, #tablaDescripcion .odd td {
	background-color:transparent;
	border-bottom:0;
}
#tablaDescripcion1, #tablaDescripcion1 .odd, #tablaDescripcion1 .odd td {
	background-color:transparent;
	border-bottom:0;
}
#tablaDescripcion2, #tablaDescripcion2 .odd, #tablaDescripcion2 .odd td {
	background-color:transparent;
	border-bottom:0;
}
#tablaDescripcion0, #tablaDescripcion0 .odd, #tablaDescripcion0 .odd td {
	background-color:transparent;
	border-bottom:0;
}
#paginador {
	color: #fff;
	display:inline-block;
	background-color: #FC6;
	border: thin solid #FC6;
	padding: 3px;
}
#paginador span {
	padding:3px;
	color:#000
}
#paginador span span {
	background-color: #000;
	color: #FFF;	
}
#paginador a {
	color: #FFF;
	text-decoration: none;		
}
#comprobantesDiv {
	min-width:840px;
	min-height: 400px;
	max-height:100%;
	padding:5px;
	height:400px;
	min-width:300px;
	max-width:85%;
	width:850px;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}
#comprobantesTabla {
	height:346px;
	width: 100%;

	display: inline-block;
}
#comprobantesTabla table {
	width: 100%;
}
#Comprobantes td {
	padding:5px;
}
#Comprobantes tr {
	cursor:pointer;
}
#datosExpediente {
        min-width: 300px;
        max-width: 85%;
        width: 850px;
        padding: 5px;
        margin-left:auto;
        margin-right:auto;
}
#papeleraDiv {
	min-width:840px;
	min-height: 400px;
	max-height:100%;
	padding:5px;
	height:400px;
	min-width:300px;
	max-width:85%;
	width:850px;
	border: thin solid #FC6;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}
#papeleraTabla {
	height:346px;
	overflow-y: auto;
	display: inline-block;
}
#papelera td {
	padding:5px;
}
#papelera {
        width:95%;
        margin:auto;
    
}
.subBoton2 {
	background-image: url(../images/iconos/prueba-2-over.png);
        color:#FAD98D;
}
.edicionArea input{
	width:100px !important;
	
}

p{
    font-size: 21px;
    
    
}