{% extends 'MagypRendicionDeCajaBundle:Notificacion:base.html.twig' %}

{#{% block cabecera %}{% endblock  %}#}

{% block cuerpo %}

    {% embed 'MagypRendicionDeCajaBundle:Base:formulario.html.twig' %}
	{% block titulo "" %}
	{% block titulotabla "Motivo" %}
	{% block formulario %}
        <span style="font-weight:bold;font-size: 14px; ">Agregar el motivo por el cual se rechazo la rendicion:</span>
        <div id="contenedor-tabla" style="margin-top: 40px">
		<table id="tablaModificar" align="center" width="100%">
                        <form action="{{path('sistema_notificacion_motivo_crear', {'idnotificacion': idnotificacion,'idrendicion' : idrendicion})}}" method="post" {{ form_enctype(form) }}  name="Motivo">
			<tr style="text-align: left">

				<td>
				{{ form_widget(form.contenido) }} 
				</td>
			</tr>


			{{form_rest(form)}}
			</form>
                </table>
        </div>
	{% endblock %}
	{% block botones %}
	<button type="button" onclick="Motivo.submit()" class="btn btn-default" style="margin-left:auto; margin-right:auto;">Aceptar</button>
	
	{% endblock %}
    {% endembed %}
{% endblock  %}




